<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://surus.db.elephantsql.com:5432/rfupddck</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">rfupddck</property>
    <property name="connection.password">QBu54i-itP9QMS-XrMnTCT8c6lXarkLH</property>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>